[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
Django = "*"
django-seed = "*"
pillow = "*"
pipenv-to-requirements = "*"
awsebcli = "*"
psycopg2-binary = "*"
django-storages = "*"
boto3 = "*"
sentry-sdk = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
