container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_seed_users:
    command: "django-admin.py seed_users --total 50"
  03_seed_categories:
    command: "django-admin.py seed_categories"  
  04_seed_books:
    command: "django-admin.py seed_books --total 50"  
  05_seed_movies:
    command: "django-admin.py seed_movies --total 50"  
  06_collectstatic:
    command: "django-admin.py collectstatic --no-input"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings
