{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="ml-4 flex flex-col items-center w-5/6">
  <div class="flex flex-col w-full border-b mb-8">
    <h1 class="text-2xl mb-4 flex items-center">{% trans "Latest movies" %}<a class="ml-4 text-sm p-1 bg-purple-200 text-purple-700 hover:text-white hover:bg-purple-700 transition duration-300 rounded" href="{% url 'movies:movies' %}">{% trans "See all" %}</a><a class="ml-2 text-sm p-1 bg-blue-200 text-blue-700 hover:text-white hover:bg-blue-700 transition duration-300 rounded" href="{% url 'movies:create' %}">{% trans "Add movie" %}</a></h1>
    <div class="m-4 grid grid-cols-5 gap-4">
      {% for obj in page.object_list %}
      {% include "mixins/movie.html" with movie=obj.movie %}
      {% endfor %}
    </div>
  </div>
  <div class="flex flex-col w-full border-b mb-8">
    <h1 class="text-2xl mb-4 flex items-center">{% trans "Latest Books" %}<a class="ml-4 text-sm p-1 bg-purple-200 text-purple-700 hover:text-white hover:bg-purple-700 transition duration-300 rounded" href="{% url 'books:books' %}">{% trans "See all" %}</a><a class="ml-2 text-sm p-1 bg-blue-200 text-blue-700 hover:text-white hover:bg-blue-700 transition duration-300 rounded" href="{% url 'books:create' %}">{% trans "Add book" %}</a></h1>
    <div class="m-4 grid grid-cols-2 grid-cols-5 gap-4">
      {% for obj in page.object_list %}
      {% include "mixins/book.html" with book=obj.book %}
      {% endfor %}
    </div>
  </div>
  <div class="flex flex-col w-full border-b mb-8">
    <h1 class="text-2xl mb-4 flex items-center">{% trans "Latest people" %}<a class="ml-4 text-sm p-1 bg-purple-200 text-purple-700 hover:text-white hover:bg-purple-700 transition duration-300 rounded" href="{% url 'people:people' %}">{% trans "See all" %}</a><a class="ml-2 text-sm p-1 bg-blue-200 text-blue-700 hover:text-white hover:bg-blue-700 transition duration-300 rounded" href="{% url 'people:create' %}">{% trans "Add person" %}</a></h1>
    <div class="m-4 grid grid-cols-5 gap-4">
      {% for obj in page.object_list %}
      {% include "mixins/person.html" with person=obj.person %}
      {% endfor %}
    </div>
  </div>
  <div>
    page {{page.number}} of {{page.paginator.num_pages}}>>
    {% if  page.has_previous %}
    <a class="text-lg hover:font-bold" href="?page={{page.previous_page_number}}"><span>
        << prev</span></a>
    {% endif %}
    {% for p in page.paginator.page_range %}
    {% if p != page.number %}<a class="text-blue-500 hover:underline" href="?page={{p}}">
      <span class="border p-1">&nbsp;{{p}}&nbsp;</span></a>
    {% else %}
    <span class="border p-1">&nbsp;{{p}}&nbsp;</span>
    {% endif %}
    {% endfor %}
    {% if  page.number != page.paginator.num_pages %}
    <a class="text-lg hover:font-bold" href="?page={{page.next_page_number}}"><span>>> next</span></a>
    {% endif %}
  </div>
</div>
{% endblock %}