{% extends "base.html" %}


{% block content %}
  <form class="forms w-1/2 h-auto border p-4" method="post">{% csrf_token %}
    {% csrf_token %}
      {% include "mixins/errors.html" with errors=form.non_field_errors %}
      {% for field in form %}
      <div class="grid grid-cols-3">
        <div>
        {{ field.label }}
        </div>
        <div class="col-start-2 col-end-4">
        {{ field }}
        </div>
      </div>
        {% include "mixins/errors.html" with errors=field.errors %}
      {% endfor %}
      <input type="submit" value="Update" class="w-full h-auto p-2 bg-teal-300 text-teal-700 rounded hover:bg-teal-600 hover:text-white transition duration-300 cursor-pointer"/>    
  </form>
  <a href="{% url 'users:password' %}" class="mt-2 text-lg underline hover:font-bold">Change Password</a>
{% endblock %}